<div class="log-in-header">
	this be header
</div>
<div class="log-in-wrapper">
    <h1><strong>Sign Up</strong></h1>
    <form action="<%= users_url %>" method="POST">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <div class="input-group input-group-lg">
            <input type="text" name="user[username]" id="user_username" placeholder="Username"  class="form-control log-in-input" value="<%= @user.username %>">
        </div>
        <div class="input-group input-group-lg">
            <input class="form-control log-in-input" type="password" name="user[password]" id="user_password" placeholder="Password">
        </div>
        <div class="input-group">
            <input type="submit" class="form-control log-in-input" value="SIGN UP">
        </div>
    </form>
</div>