<% if action == :signup %>
	<% title = "Sign Up" %>
	<% button_text = "SIGN UP" %>
	<% action = users_url %>
<% elsif action == :signin %>
	<% title = "Sign In" %>
	<% button_text = "SIGN IN" %>
	<% action = session_url %>
<% end %>


<div class="log-in-header">
    <div class="log-in-header-center">
        <h1><span class="awesome-blue bolder">Awesome</span><span class="awesome-orange bolder">Tracker</span></h1>
    </div>
</div>
<div class="log-in-wrapper">
    <h1><strong><%= title %></strong></h1>
    <form action="<%= action %>" method="POST">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <div class="input-group input-group-lg">
            <input type="text" name="user[username]" id="user_username" placeholder="Username" class="form-control log-in-input">
        </div>
        <div class="input-group input-group-lg">
            <input class="form-control log-in-input" type="password" name="user[password]" id="user_password" placeholder="Password">
        </div>
        <div class="input-group">
            <input type="submit" class="form-control log-in-input bg-blue white bolder" value="<%= button_text %>">
        </div>
    </form>
</div>