<div class="wrapper-whole-page">
<nav class="nav-index-page">
	Hello, <span class="white"><%= current_user.username.upcase %></span>
</nav>
<div class="content-container">
	<div class="project-container">
	</div>
</div>
</div>