/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body {
	background-color: #6096BD;
}

.bolder {
	font-weight: bolder;
}

.awesome-blue {
	color: #5283AF;
}

.bg-blue {
	background-color: #6096BD;
}

.white {
	color: white;
}

.awesome-orange {
	color: #EB7C19;
}

.awesome-grey {
	color: #666666;
}

input.form-control.log-in-input{
	width: 290px;
	margin-top: 5px;
}

.log-in-wrapper {
	background-color: #E9E9E9;
	width: 333px;
	margin: 44px auto 0px;
	padding: 20px;
}

.log-in-header {
	display: block;
	background-color: white;
	height: 50px;
}
	
.log-in-header-center {
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	display: inline-block;
	width: 100%;
	text-align: center;
}

h1 {
	margin: 0px;
}

nav.nav-index-page {
	height: 30px;
	display: block;
	background-color: #256188;
}

.project-index-item {
	background-color: white;
	height: 50px;
	margin: 5px;
}

.project-container {
	width: 400px;
	float: left;

}