<div class="project-index-header">
<h1 class="awesome-grey"><strong>My Projects</strong></h1>
</div>

<div class="new-project-dialog float-right">
<input type="text" class="project-name"></input>
<button class="btn new-project">New Project</button>
</div>

<div class="project-index">
</div>