<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">New Story</h4>
      </div>
      <div class="modal-body">
        <input type="text" class="story-title" placeholder="story title">
        </input>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary new-story" data-dismiss="modal">Create New Story</button>
      </div>
    </div>
  </div>
</div>



<div class="project-show-sidebar">
    <div class="average-velocity inline-block">
    </div>
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </button>
</div>

<div class="all-lists-wrapper">
    <div class="list-wrapper">
        <div>Done</div>
        <div>
            <ul data-list="done" id="list-done" class="story-list list-unstyled connectedList"></ul>
        </div>
    </div>


    <div class="list-wrapper">
        <div>
            Current
        </div>
        <div>
            <ul data-list="current" id="list-current" class="story-list list-unstyled connectedList">
            </ul>
        </div>
    </div>

    <div class="list-wrapper">
        <div>Backlog</div>
        <div>
            <ul data-list="backlog" id="list-backlog" class="story-list list-unstyled connectedList">
            </ul>
        </div>
    </div>

    <div class="list-wrapper">
        <div>Icebox</div>
        <div>
            <ul data-list="icebox" id="list-icebox" class="story-list list-unstyled connectedList">
            </ul>
        </div>
    </div>
</div>