showing project
<%= project.get('id') %>
<%= project.get('title') %>
<ul data-list="done" id="list-done" class="list-unstyled connectedList">
</ul>
<ul data-list="current" id="list-current" class="list-unstyled connectedList">
</ul>
<ul data-list="backlog" id="list-backlog" class="list-unstyled connectedList">
</ul>
<ul data-list="icebox" id="list-icebox" class="list-unstyled connectedList">
</ul>
<button class="btn btn-default new-story">New Story</button>
<input type="text" class="story-title"></input>