<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
<div class="story-title inline-block">
	<%= story.get('title') %>
</div>
<% if (story.get('points') === null) { %>
	<div class="story-points">
	    <button class="btn btn-default btn-xs assign-points">1</button>
	    <button class="btn btn-default btn-xs assign-points">2</button>
	    <button class="btn btn-default btn-xs assign-points">3</button>
	</div>
<% } else { %>
	<div class="story-points">
	    <%= story.get( 'points') %>
	</div>
<% } %>

<div class="expanded-story-index-item">
	<input type="text"></input>
</div>